################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Server/LabsManager/obj
/Server/LabsManager/.vs/LabsManager
/Server/LabsManager/domain/obj
/Server/LabsManager/infastructure/bin/Debug/net8.0
/Server/LabsManager/infastructure/obj
/Server/LabsManager/bin/Debug/net8.0
/Server/LabsManager/.vs/ProjectEvaluation
